<% provide(:title, "Projects") %>

<div class="text-right">
  <% if can? :create, Project %>
    <div class="btn-group">
      <%= link_to "Create project", new_project_path, :class => "btn btn-raised btn-sm" %>
    </div>
  <% else %>
    <button type="button" class="btn btn-warning btn-sm disabled" disabled>Create project</button>
<% end %>
</div>

<br/>

<div class="card">
  <div class="card-header">
    All Projects
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <table class="table table-borderless table-hover">
        <thead>
        </thead>
        <tbody>
        <% @projects.reverse_each do |project| %>
          <tr>
            <td>
              <%= link_to project_path(project) do %>
                <%= project.title %>
                <% if !project.password.nil? %> <span class="badge badge-secondary">Private</span> <% end %>         
              <% end %>
              
              <br/>
              <small class="text-muted">Last updated <%= project.updated_at %></small>

              <% if !project.password.nil? %>  
                <%= form_tag(project_path(project), method: "get") do %>
                  <%= password_field_tag(:password) %>
                  <%= submit_tag("Join") %>
                <% end %>
              <% end %>
             
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </blockquote>
  </div>
</div>



