<% provide(:title, @project.title) %>

<div class="text-right">
  <div class="btn-group">
    <%= link_to "Paste", new_project_post_path(@project), :class => "btn btn-raised btn-sm" %>
    <% if can? :delete, Project %>
      <button type="button" class="btn btn-raised dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Delete Project', project_path(@project),
                    method: :delete,
                    data: {confirm: 'Are you sure?'}, class: 'dropdown-item' %>
      </div>
    <% end %>
  </div>
</div>

<br/>

<% @project.posts.reverse_each do |post| %>
  <div class="card">
    <div class="card-header">
      <blockquote class="blockquote text-right">
        <%= post.title %><cite title="Source Title">
        <footer class="blockquote-footer"><%= post.syntax %></cite></footer>
      </blockquote>
    </div>
    <div class="card-body">
      <pre><code class="<%= post.syntax %>"><%= post.body %></code></pre>
    </div>
    <div class="card-footer text-muted text-right">
      <%= link_to 'View', project_post_path(@project, post), class: 'btn btn-outline-success btn-sm' %>
      <% if can? :edit, Post %>
        <%= link_to 'Edit', edit_project_post_path(@project, post), class: 'btn btn-outline-warning btn-sm' %></td>
      <% else %>
        <button type="button" class="btn btn-outline btn-sm" disabled>Edit</button>
      <% end %>
      <% if can? :delete, Post %>
        <%= link_to 'Destroy', [post.project, post],
                    method: :delete,
                    data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-danger btn-sm' %>
      <% else %>
        <button type="button" class="btn btn-outline btn-sm" disabled>Delete</button>
      <% end %>
      <%= link_to 'PDF', project_post_path(@project, post, format: "pdf"), class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>
  <br/>
<% end %>

<%= link_to 'Back', projects_path() %>