<% provide(:title, @post.title) %>

<div class="card">
    <div class="card-header">
        <blockquote class="blockquote text-right">
          <%= @post.title %> <cite title="Source Title"><footer class="blockquote-footer"><%= @post.syntax %></cite></footer>
        </blockquote>
    </div>
    <div class="card-body">
      <pre><code class="<%= @post.syntax %>"><%= @post.body %></code></pre>
    </div>
</div>

 <br/>

<%= link_to 'Back', project_path(@project) %>