<div aria-hidden="true" class="navdrawer" id="navdrawerDefault" tabindex="-1">
  <div class="navdrawer-content">
    <div class="navdrawer-header">
      <%= link_to 'the-paste', root_path, class: 'navbar-brand px-0' %>
    </div>
    <p class="navdrawer-subheader">Services</p>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <%= link_to home_path, :class => 'nav-link' do %>
          <i class="material-icons mr-3">chat_bubble_outline</i> Projects
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to help_path, :class => 'nav-link' do %>
          <i class="material-icons mr-3">help_outline</i> Help
        <% end %>
      </li>
    </ul>
    <div class="navdrawer-divider"></div>
    <p class="navdrawer-subheader">Account Management</p>
    <ul class="navdrawer-nav">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to sign_out_path, method: :delete, :class => 'nav-link' do %>
            <i class="material-icons mr-3">directions_walk</i> Sign out
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to sign_in_path, :class => 'nav-link' do %>
            <i class="material-icons mr-3">person</i> Sign in
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to sign_up_path, :class => 'nav-link' do %>
            <i class="material-icons mr-3">person_add</i> Sign up
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>