<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <br/>
       <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script>
    $(document).ready(function() { 
      $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });
    </script>
    <% if current_user %>
    <script>

    (function(d, m) {
      var s, h;
      s = document.createElement("script");
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://apps.applozic.com/sidebox.app";
      h = document.getElementsByTagName('head')[0];
      h.appendChild(s);
      window.applozic = m;
      m.init = function(t) {
        m._globals = t;
      }
    })(document, window.applozic || {});

    window.applozic.init({
      userId: '<%= @current_user.email %>', //PUT logged in user's userId
      appId: 'thepaste294e0e4d155f7870d35883',
      desktopNotification: true,
      notificationIconLink: "https://www.applozic.com/resources/images/applozic_logo.gif"
    });
    </script>
    <% end %>
  </body>
</html>
